<header>
	<a href="javascript:void(0);" class="nav-icon" onclick="toggleMenu()">
		<img src="/assets/images/burger.svg" id="menuIcon">
	</a>
	<div id="siteLogo" class="site-logo">
		<img src="/assets/images/PIE_logo.svg" id="logo">
	</div>
	<div id="page-header" class="topnav">
		<div id="siteName" class="site-name">
			<h1>Plastic Ideas
				<br>Electronics</h1>
		</div>
		<ul class="site-nav" id="siteNav">
		{% for link in site.navigation %}
			{% assign pageclass = 'page-link' %}
			{% if (link.url != "/" and page.url contains link.url) %}
				{% assign pageclass = 'page-link-current' %}
			{% elsif (link.url == "/" and page.url == "/index.html") %}
				{% assign pageclass = 'page-link-current' %}
			{% endif %}
			<li class="nav-item">
				<a class="{{pageclass}}" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
			</li>
		{% endfor %}
      <li class="social nav-item">
				<a href="{{site.instagam_url}}"><img src="/assets/images/Inst.svg"></a>
        <img src="/assets/images/Ytube.svg">
<!--				<a href="{{site.facebook_url}}"><img src="/assets/images/Fbook.svg"></a> -->
      </li>
    </ul>
	</div>
</header>
<script>

function toggleResponsive(x, className) {
	if (x.className === className) {
		x.className += " responsive";
	} else {
		x.className = className;
	}
}

function toggleMenu() {
	var x = document.getElementById("siteNav");
	toggleResponsive(x, "site-nav");

	var x = document.getElementById("siteName");
	toggleResponsive(x, "site-name");

	var x = document.getElementById("siteLogo");
	toggleResponsive(x, "site-logo");
}
</script>
