<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ site.title }} - {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<!-- don't flash un-styled content -->
  <style type="text/css">
    .hidden {display:none;}
  </style>
  <script type="text/javascript" src="/assets/scripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript">
    $('html').addClass('hidden');
    $(document).ready(function() {
      $('html').show();
     });  
   </script>
</head>
