/*
 * Web Fonts from colophon-foundry.org
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Colophon Foundry. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2017 Colophon Foundry
 *
 * Licenced to Scott Goodwin Plastic Ideas Electronics
 */

@font-face {
    font-family: 'apercu-regular';
    src: url('/assets/fonts/apercu-regular.eot');
    src: url('/assets/fonts/apercu-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/apercu-regular.woff') format('woff'),
         url('/assets/fonts/apercu-regular.woff2') format('woff2'),
         url('/assets/fonts/apercu-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BaylePIE-Medium';
    src: url('/assets/fonts/BaylePIE-Medium.eot');
    src: url('/assets/fonts/BaylePIE-Medium.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/BaylePIE-Medium.woff') format('woff'),
         url('/assets/fonts/BaylePIE-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
