---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

@import "fonts";

$light-color: #F4F4F4;
$text-color: #1D1D1D;
$main-color: #7EBE98;
$second-color: #97D7B0;

$border-bottom-width: 2px;

$main-font: "apercu-regular";
$second-font: "BaylePIE-Medium";

body {
  font-family: $main-font;
  color: $text-color;
  background-color: $light-color;
  height: 100%;
  margin: 0;
  padding: 0px;
}

header {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  background-color: $main-color;
}

a {
  color: $main-color;
  text-decoration: none;
  font-family: $second-font;
}
a:hover  {
  color: $second-color;
  font-family: $second-font;
}
a:visited {
  color: $main-color;
  font-family: $second-font;
}

h1 {
  font-family: $second-font;
  font-weight: normal;
}

#page-container {
  width: 100%;
}

.site-logo {
  float: left;
  width: 20em;
}

.site-name h1 {
  line-height: 1em;
}

#logo {
  height: 9em;
}

.topnav {
  color: $light-color;
  margin-left: 20em;
}

.topnav a {
  color: $light-color;
}

#page-title {
  float: left;
  color: $main-color;
  border: 0;
  border-bottom-width: $border-bottom-width;
  border-style: solid;
  width: 15em;
}

#page-title h1 {
  margin-left: 1em;
}

#page-content {
  margin-left: 20em;
  margin-right: 2em;
  margin-bottom: 2em;
}

.site-nav {
  border: 0;
  border-bottom-width: $border-bottom-width;
  border-style: solid;
  vertical-align: bottom;
}

ul {
  list-style-type: none;
  margin-left: 1em;
  padding-left: 0;
}

ul.site-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

li.nav-item, li.nav-menu {
  display: inline-block;
  padding-right: 1em;
  font-size: 1.4em;
}

li.nav-item a {
  text-decoration: none;
}

li.nav-item img {
  height: 1em;
  width: 1em;
  padding-right: 0.3em;
}

li.social {
  padding-right: 0.4em;
  padding-top: 0.4em;
}

.nav-icon {
  position: absolute;
  display: none;
  right: 0.75em;
  top: 0.5em;
  font-size: 2em;
}

@media screen and (max-width: 600px) {
  .topnav {
    margin-left: 1em;
  }

  .topnav li {
    display: none;
    font-size: 2em;
  }

  .nav-icon {
    display: block;
  }

  .site-logo {
    width: auto;
  }

  .site-name {
    display: table;
    margin-right: 3em;
  }

  #siteNav {
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom-width: 0;
  }

  #page-title h1 {
    margin-left: 0.5em;
  }

  #page-content {
    clear: left;
    margin-left: 1em;
    padding-top: 1em;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
  }

  .site-nav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }

  .site-name.responsive, .site-logo.responsive {
    display: none;
  }
}

.post {
  margin-bottom: 3em;
}

.post .date p {
  margin-top: 1em;
  margin-bottom: 0em;
}

.post h1 {
  margin-top: 0px;
  line-height: 1em;
}

