<!DOCTYPE HTML>
<html>
	{% include head.html %}
  <body>
		<div id="page-container">
			{% include header.html %}
			<div id="page-title">
				<h1>{{page.title}}</h1>
			</div>
			<div id="page-content">
				{{ content }}
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>

